@model EntityLayer.Concrete.Project
@{
    ViewData["Title"] = "AddProject";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add New Project</h4>
            <p class="card-description">
                Tell us about your project and add your github link.
            </p>
            <form class="form-group" method="post">
                @Html.Label("Project's Name")
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <br />
                @Html.Label("Description")
                @Html.TextAreaFor(x => x.Description, 10, 3, new { @class = "form-control" })
                <br />
                @Html.Label("Github Url")
                @Html.TextBoxFor(x => x.GitHubUrl, new { @class = "form-control" })
                <br />
                @Html.Label("Is your repository private?")
                <div class="col-sm-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
                            No
                        </label>
                    </div>
                </div>

                <br />
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>
